.fake
.ionide
.vs
.vscode
/core/application/bin
/core/application/obj
/core/domain/bin
/core/domain/obj
/database/obj
/database/bin
/webapi/bin
/webapi/obj
api/.config
api/bin
api/obj
domain/bin
domain/obj
TestResults/
tests/bin
tests/obj
tests_api/bin
tests_api/obj
Test_application/bin
Test_application/obj