.fake
.ionide
.vs
.vscode
/core/application/bin
/core/application/obj
/core/domain/bin
/core/domain/obj
/database/bin
/database/obj
/webapi/bin
/webapi/obj
api/.config
api/bin
api/obj
domain/bin
domain/obj
TestResults/
tests_api/bin
tests_api/obj
tests_application/bin
tests_application/obj
tests_core/bin
tests_core/obj
